/* The media query for screens larger than 640px */
@media screen and (min-width: 790px) {
header .wrapper .nav select, .top-grey-bar .wrapper .top-menu nav select {
	display: none;
}
/* the dropdown */
header .wrapper .nav ul ul, .top-grey-bar .wrapper .top-menu nav ul ul {
	position: absolute;
	z-index: 999;
	background: #fff;
	min-width: 100%;
	height: 0px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
header .wrapper .nav ul li:hover ul {
	height: auto;
	overflow: auto;
	margin: 0;
}
header .wrapper .nav ul li:hover ul li {
	margin-left: 0;
	display: block;
	width: 100%;
}
header .wrapper .nav ul ul li a {
	width: 100%;
	padding: 10px 0;
}
}
